@mixin text-preset-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-5 {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-6 {
  font-size: 26px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-7 {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-8 {
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-9 {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-10 {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-11 {
  font-size: 15px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-12 {
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-13 {
  font-size: 13px;
  font-weight: 700;
  line-height: 125%;
}
