// Colors
$white: #FFFFFF;
$black: #000000;
$grey-100: #F2F2F2;
$grey-50: #FCFCFC;
$blue-950: #152938;
$blue-800: #304859;
$blue-400: #7191A5;
$blue-350: #6395B8;
$blue-300: #BCCED9;
$blue-100: #DFE7EC;
$orange-400: #FDA214;
$orange-300: #FFB84A;