@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.app {
  background-color: $grey-50;

  &-wrapper {
    padding: 24px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

@media (min-width: 768px) {
  .app {
    .game-wrapper {
      gap: 120px;
    }
  }
}

@media (min-width: 1024px) {
  .app {
    .game-wrapper {
      gap: 100px;
    }
  }
}
